.container {
    padding: 30px;
    
}
h1,h3 {
    font-weight: bolder;
    font-size: 30px;
    display: block;
    margin: auto;
    text-align: center;
    font-family: 'Merriweather', serif;
    padding-top: 30px;
}
h3 {
font-size: 18px;
font-family: 'Merriweather Sans', sans-serif;
}
p {
    font-family: 'Merriweather', serif; 
    
}

img {
    display: block;
    margin: auto;
    padding-top: 20px;
}
#header {
    background-color: #E0EBE8;
}
/* .card {
    margin-top: 90px;
    
    
} */
.card {
    
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 90px;
}
.card {
  
    cursor: pointer;
    border-radius: 20px;
    box-shadow: 1px 1px 5px 0px rgba(82, 82, 82, 0.75);
    transition: all 150ms ease-in-out;
  }
  .card:hover {
      top: -3px;
      left: -3px;
    box-shadow: 3px 3px 15px 0px rgba(82, 82, 82, 0.85);
  }

@media screen and (max-width: 990px){
    .card {
        
        margin: 0 auto; /* Added */
        float: none; /* Added */
        
        margin-top: 90px;
    }
}

